# Machine Setup

For the writing of code, a Macbook pro ( macOS Sierra, vsn. 10.12.2) installed with MATLAB_R2015b was used. 
The code was also run on a Windows 10 platform running MATLAB_R2016b to obtain the same results.

Included paths correspond to the folders in the repository, determined by where they are saved once downloaded. Third party libraries are included using addpath.

The MIR-1K Dataset(https://sites.google.com/site/unvoicedsoundseparation/mir-1k) is used ( and should
separately be downloaded by the user).
